<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= error.message %></h4>
            <% if (process.env.NODE_ENV !== "production") { %>
                <p><%= error.stack %></p>
                <% } %>
        </div>
    </div>
</div>